#This file is to help users generate appropriate annotation pipelines
#These are defaults and can be reset to be less strict if $use_strict is used
#Add databases here so annovar_qsub_wrpr*.pl will automatically use this setting instead of
#changing code
hg18_avsift.txt
hg18_CEU.sites.2009_04.txt
hg18_CEU.sites.2010_03.txt
hg18_CEU.sites.2010_07.txt
hg18_cytoBand.txt
hg18_dgv.txt
hg18_ensGene.txt
hg18_example_db_generic.txt
hg18_example_db_gff3.txt
hg18_genomicSuperDups.txt
hg18_gwasCatalog.txt
hg18_JPTCHB.sites.2009_04.txt
hg18_JPTCHB.sites.2010_03.txt
hg18_JPTCHB.sites.2010_07.txt
hg18_kgXref.txt
hg18_knownGene.txt
hg18_phastConsElements28wayPlacMammal.txt
hg18_phastConsElements28way.txt
hg18_phastConsElements44wayPlacental.txt
hg18_phastConsElements44wayPrimates.txt
hg18_phastConsElements44way.txt
hg18_refGene.txt
hg18_refLink.txt
hg18_snp129.txt
hg18_snp130.txt
hg18_targetScanS.txt
hg18_tfbsConsSites.txt
hg18_wgRna.txt
hg18_YRI.sites.2009_04.txt
hg18_YRI.sites.2010_03.txt
hg18_YRI.sites.2010_07.txt
hg19_1000gALL_sites_2012_04_ABCC.txt
hg19_1000gALL_sites_2012_04.txt
hg19_1000gALL.sites.2012.04.txt
hg19_1000gALL_sites_2014_09.txt
hg19_1000gALL.sites.2014_09.txt
hg19_AFR.sites.2014_09.txt
hg19_AFR.sites.2014_10.txt
hg19_ALL.sites.2010_11.txt
hg19_ALL.sites.2011_05.txt
hg19_ALL.sites.2014_10.txt
hg19_alt_splice.txt
hg19_AMR.sites.2014_09.txt
hg19_AMR.sites.2014_10.txt
hg19_ASW_hom_only.txt
hg19_avsift.txt
hg19_avsnp142.txt
hg19_avsnp144.txt
hg19_caddgt10.txt
hg19_CEPH_UTAH_hom_only.txt
hg19_CEU_hom_only.txt
hg19_cg46.txt
hg19_cg69.txt
hg19_CG-ASW_AllFreq.txt
hg19_CG-CEPH_UTAH_AllFreq.txt
hg19_CG-CEU_AllFreq.txt
hg19_CG-CHB_AllFreq.txt
hg19_CG-GIH_AllFreq.txt
hg19_CG-JPT_AllFreq.txt
hg19_CG-LWK_AllFreq.txt
hg19_CG-MKK_AllFreq.txt
hg19_CG-MXL_AllFreq.txt
hg19_CG-PUR_AllFreq.txt
hg19_CG-TSI_AllFreq.txt
hg19_CG-YRI_AllFreq.txt
hg19_chainSelf.txt
hg19_CHB_hom_only.txt
hg19_clinvar_20131105.txt
hg19_clinvar_20140702.txt
hg19_clinvar_20150330.txt
hg19_clinvar_20150629.txt
hg19_cosmic68.txt
hg19_cosmic70.txt
hg19_cosmicdb.txt
hg19_cosmicdbv64.txt
hg19_cosmicdbv67.txt
hg19_cosmicdbv68.txt
hg19_cosmic.txt
hg19_cpgIslandExt.txt
hg19_cytoBand.txt
hg19_dfam.txt
hg19_dgvMerged.txt
hg19_dgv.txt
hg19_EAS.sites.2014_09.txt
hg19_EAS.sites.2014_10.txt
hg19_ensGene55.txt
hg19_ensGene.txt
hg19_ESEFinder.txt
hg19_esp6500si_all.txt
hg19_ESP6500si_all.txt
hg19_esp6500siv2_aa.txt
hg19_esp6500siv2_all.txt
hg19_ESP6500siv2_all.txt
hg19_esp6500siv2_ea.txt
hg19_ESP6500siv2_ea.txt
hg19_EUR.sites.2014_09.txt
hg19_EUR.sites.2014_10.txt
hg19_exac03.txt
hg19_ExACv3_3.txt
hg19_ExACv3.txt
hg19_example_db_generic.txt
hg19_example_db_gff3.txt
hg19_Fantom5_CAGE_peak.txt
hg19_Fantom5_enhancers.txt
hg19_Fantom5_TSSpredictions.txt
hg19_gene_descriptions.txt
hg19_gene_info.txt
hg19_genomicSuperDups.txt
hg19_gerp++elem.txt
hg19_GIH_hom_only.txt
hg19_gwasCatalog.txt
hg19_hapmap_3_3.txt
hg19_hapmap_3.3.txt
hg19_hmdd.txt
hg19_HMDD.txt
hg19_hrcr1.txt
hg19_JPT_hom_only.txt
hg19_kaviar_20150923.txt
hg19_kgXref.txt
hg19_knownGene.txt
hg19_lincRNA.txt
hg19_ljb23_all.txt
hg19_ljb23_lrt.txt
hg19_ljb23_ma.txt
hg19_ljb23_mt.txt
hg19_ljb23_pp2hdiv.txt
hg19_ljb23_pp2hvar.txt
hg19_ljb23_sift.txt
hg19_ljb26_all.txt
hg19_ljb26_cadd.txt
hg19_ljb26_fathmm.txt
hg19_ljb26_lrt.txt
hg19_ljb26_ma.txt
hg19_ljb26_mt.txt
hg19_ljb26_pp2hdiv.txt
hg19_ljb26_pp2hvar.txt
hg19_ljb26_sift.txt
hg19_ljb26_vest.txt
hg19_ljb2_fathmm.txt
hg19_ljb2_lrt.txt
hg19_ljb2_ma.txt
hg19_ljb2_mt.txt
hg19_ljb2_phylop.txt
hg19_ljb2_pp2hdiv.txt
hg19_ljb2_pp2hvar.txt
hg19_ljb2_sift.txt
hg19_ljb2_siphy.txt
hg19_ljb_all.txt
hg19_ljb_gerp++.txt
hg19_ljb_lrt.txt
hg19_ljb_mt.txt
hg19_ljb_phylop.txt
hg19_ljb_pp2.txt
hg19_ljb_sift.txt
hg19_lncipedia.txt
hg19_LWK_hom_only.txt
hg19_microPIR_targets.txt
hg19_miRBase.txt
hg19_mitimpact24.txt
hg19_MKK_hom_only.txt
hg19_MT_ensGene.txt
hg19_MT_GRCh37_ensGene.txt
hg19_MXL_hom_only.txt
hg19_nci60.txt
hg19_nonB.txt
hg19_omimGene.txt
hg19_phastConsElements46way.txt
hg19_polyphen.txt
hg19_proscan_domains.txt
hg19_prosite_domains.txt
hg19_Provean_v1_1.txt
hg19_PUR_hom_only.txt
hg19_rbpvar_rnaediting.txt
hg19_rbpvar_v1.txt
hg19_refGene2Strand2.txt
hg19_refGene2Strand.txt
hg19_refGene.txt
hg19_refGeneXref.txt
hg19_refLink.txt
hg19_regulome141.txt
hg19_rptMask.txt
hg19_SAS.sites.2014_09.txt
hg19_SAS.sites.2014_10.txt
hg19_siftv63.txt
hg19_snp130.txt
hg19_snp131.txt
hg19_snp132.txt
hg19_snp135.txt
hg19_snp137.txt
hg19_snp138.txt
hg19_SomamiR_targets.txt
hg19_SomamiR.txt
hg19_targetScanS.txt
hg19_tassdb.txt
hg19_tfbsConsFactors.txt
hg19_tfbsConsSites.txt
hg19_trf.txt
hg19_TSI_hom_only.txt
hg19_VISTA_enhancer_expr_data.txt
hg19_VISTA_enhancer.txt
hg19_wgEncodeAwgTfbsUniform.txt
hg19_wgEncodeCrgMapabilityAlign100mer.txt
hg19_wgEncodeCrgMapabilityAlign24mer.txt
hg19_wgEncodeCrgMapabilityAlign50mer.txt
hg19_wgEncodeCrgMapabilityAlign75mer.txt
hg19_wgEncodeDacMapabilityConsensusExcludable.txt
hg19_wgEncodeDukeMapabilityRegionsExcludable.txt
hg19_wgEncodeDukeMapabilityUniqueness20bp.txt
hg19_wgEncodeDukeMapabilityUniqueness35bp.txt
hg19_wgEncodeMethylRrbs.txt
hg19_wgRna.txt
hg19_YRI_hom_only.txt
