user.date=20130620214423
user.label=intviz51c3aff7427ec
user.base_dir=/bioinfoC/AVA/PUBLIC_SUBMISSIONS
user.internal=1
user.modulesid=3
user.input_fullpath=/bioinfoC/bobs/inheritance/kraemer/BWA-aln.merged.vcf
typed.ct=0
user.inputformat=vcf
ref.ver=hg19
user.email=stephensr@mail.nih.gov
report.annotdb_siftv63=on
report.annotdb_ljb_pp2=on
report.annotdb_cosmicdb=on
report.annotdb_omimGene=on
report.annotdb_wgRna=on
report.annotdb_HMDD=on
report.annotdb_lincRNA=on
report.annotdb_lncipedia=on
report.annotdb_SomamiR=on
report.annotdb_VISTA_enhancer=on
report.annotdb_tfbsConsSites=on
report.annotdb_targetScanS=on
report.annotdb_microPIR_targets=on
report.annotdb_SomamiR_targets=on
report.annotdb_VISTA_enhancer_expr_data=on
report.annotdb_snp135=on
report.annotdb_ljb_mt=on
report.annotdb_cg69=on
report.annotdb_1000gALL_sites_2012_04=on
report.annotdb_hapmap_3_3=on
report.annotdb_gwasCatalog=on
report.annotdb_nonB=on
report.annotdb_genomicSuperDups=on
report.annotdb_prosite_domains=on
report.annotdb_dfam=on
report.annotdb_rptMask=on
report.annotdb_trf=on
report.annotdb_alt_splice=on
report.annotdb_ESEFinder=on
report.annotdb_wgEncodeCrgMapabilityAlign100mer=on
report.annotdb_wgEncodeDukeMapabilityUniqueness35bp=on
report.annotdb_wgEncodeDukeMapabilityRegionsExcludable=on
user.resolution=10k
user.counter=0
viz.key_genes=all
viz.key_snp135=all
viz.key_gplex=all
viz.key_siftv63=all
report.genelist_type=filter
report.genelist_count=once
filter.abcc_genelists=
user.program=viz
user.group=public
user.ipaddress=68.49.185.170
